/*------------------------------------------------------------------
[Master Stylesheet]

Project:  Digital System Automation
Version:	1.1
Last change:	02/02/2022

# [Color codes]

# Text Color (text): #212529
# Primary Color: #765ba7

/* ----- Typography ----- */
body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.625;
	color: #496389;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	user-select: none;
}

.text-secondary-1 {
	color: #6c757d !important;
}

.rounded {
	border-radius: 100% !important;
}

.lds-roller {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}
.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #765ba7;
	margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#preloader-background,
#updater-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	flex-direction: column;
}

#preloader-background {
	background-color: #ffffffde;
}

.btn.disabled,
.btn:disabled {
	background-color: #a694c7 !important;
	border-color: #a694c7 !important;
    opacity: 1 !important;
    cursor: default;
    box-shadow: none !important;
}

.btn.disabled:hover,
.btn:disabled:hover {
	background-color: #a694c7 !important;
	border-color: #a694c7 !important;
}

.hidden {
	display: none;
}

.btn-white {
	background-color: #fff !important;
	border-color: #fff !important;
	color: #444 !important;
	font-weight: 600 !important;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	letter-spacing: 0.05em;
	padding: 9px !important;
	width: 110px !important;
}

.tasks-list li {
	list-style: none;
	padding: 15px;
	border-bottom: 1px solid #e9ecef;
	font-size: 13px;
	cursor: pointer;
}

.tasks-list li:not(.disabled):not(.active):hover {
	opacity: 0.9;
}

.tasks-list li.disabled {
	cursor: not-allowed;
}

.tasks-list li.active {
	background-color: #765ba7;
	color: #fff;
	font-weight: 600;
}

#error-info {
	color: #fff;
	position: absolute;
	bottom: 50px;
	right: 19px;
}

.connecting-error, .connection-back {
	position: absolute;
	width: 100%;
	bottom: 0;
    left: 0;
	background-color: #dc3545;
	font-size: 12px;
	padding: 3px;
    color: #ffffff;
    font-weight: 500;
	text-align: center;
	transition: 0.2s all linear;
	display: none;
}

.stats-bg {
	background: linear-gradient(360deg, rgba(118,91,167,1) 30%,#1793b8a6 75%);
	box-shadow: 0px -3px 8px 0px #000;
	position: relative;
}

.faq-section i {
	font: normal normal normal 14px/1 FontAwesome;
}

.faq-section {
    position: absolute;
    bottom: 45px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
}

.faq-section a {
	color: #765ba7;
}

.faq-section a:hover {
	color: #1793b8a6;
	text-decoration: none;
}

#bottom-menu {
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	border-top: 1px solid #f2f2f2;
	background-color: #f8f9fa;
	height:27px;
	bottom: 0;
	left: 0;
}

#sync:hover, .logout-button:hover, #faq a:hover {
	color: #765ba7;
	cursor: pointer;
	text-decoration: none;
}

#faq a {
	color: inherit;
	font-size: 12px;
}

#sync i {
	font-size: 12px;
	margin-left: 8px;
	margin-right: 3px;
	vertical-align: middle;
}

.logout-button {
	float: right;
	display: block;
	margin-right: 8px;
	font-size: 15px;
}

.tracker-buttons {
	transition: all 0.3s ease !important;
	border-radius:50px !important;
	font-size:13px !important;
	width: 139px !important;
	margin-bottom: 15px;
}

#live-time {
	font-size: 40px;
}

.name-container {
	font-size: 12px;
	font-weight: 600;
}

.tracker-buttons:hover {
	opacity: 0.95;
}

#time-in:focus {
	outline: none;
  	box-shadow: 0 0 0 3px #bbe1ec;
}

.require-action {
	padding: 15px;
	font-size: 12px;
	display:none;
}

.require-action p {
	line-height: 2;
}

.require-action .alert {
	padding-bottom: 8px;
	margin-bottom: 0;
}

h6.require-action-title {
    letter-spacing: 0.02em;
    font-size: 13px;
}

div#bottom-menu > div {
    width: 116px;
}

.blocker-text {
	color: #8fd2dc !important;
	font-weight: bold;
}

.blocker-text:hover {
	color: #fff !important;
}

div#action-in-progress, .update-progress {
    margin-top: 10px;
    font-weight: 600;
    font-size: 12px;
	padding: 0 10px;
}

div#action-in-progress p, .update-progress p {
    margin-bottom: 0;
	text-align: center;
	line-height: 2;
}

.loading-dots:after {
	content: '.';
	animation: dots 1s steps(5, end) infinite;}
  
  @keyframes dots {
	0%, 20% {
	  color: rgba(0,0,0,0);
	  text-shadow:
		.25em 0 0 rgba(0,0,0,0),
		.5em 0 0 rgba(0,0,0,0);}
	40% {
	  color: white;
	  text-shadow:
		.25em 0 0 rgba(0,0,0,0),
		.5em 0 0 rgba(0,0,0,0);}
	60% {
	  text-shadow:
		.25em 0 0 white,
		.5em 0 0 rgba(0,0,0,0);}
	80%, 100% {
	  text-shadow:
		.25em 0 0 white,
		.5em 0 0 white;
	}
}

.logo img {
	height: 80px;
}

.stats {
	opacity: 0.65;
	transition: 0.8s;
}

.stats.animate {
	opacity: 1;
}

#login-form .btn,
.reset-password-form-wrapper .btn {
	padding: .5rem .75rem;
	width: 100%;
}

.error-msg, .description {
    font-size: 10px;
}

.label {
    font-weight: 500;
}

.required-indicator {
    color: #f00;
}

.error-msg {
    font-size: 11px;
    color: #a94442;
}

.btn-primary {
	background: #765ba7 !important;
	border: #765ba7 !important;
}

.btn-primary:hover {
	opacity: 0.85;
}

.link-primary {
    color: #765aa7 !important;
}

.progress-bar {
	background-color: #765aa7 !important;
}