<div>
	<div class="mt-4 mb-4">
		<div class="logo text-center pt-5">
			<a><img src="images/logo.png"></a>
		</div>
	</div>
	<div class="panel panel mx-1">
		<div class="panel-body">
			<form id="login-form" role="form" action="" method="post">
				<div class="form-group">
					<div class="label mb-2">Email <span class="required-indicator">*</span></div>
					<input type="text" class="form-control required mb-1" id="email" name="email" autofocus="" value=""
						placeholder="youremail@domain.com">
					<div class="description">Enter your Diversify Intranet username.</div>
				</div>
				<div class="form-group">
					<div class="label mb-2">Password <span class="required-indicator">*</span></div>
					<input type="password" class="form-control required mb-1" id="password" name="password" value="">
					<div class="description">Enter the password that accompanies your username.</div>
				</div>
				<div class="form-group">
					<button id="lgn-btn" type="button" class="btn btn-primary" style="border-radius:40px;"><i
							class="fa fa-btn fa-sign-in mr-2"></i> Login</button>
				</div>
				<div class="log-error mb-3">

				</div>
			</form>
		</div>

		<div class="connecting-error loading-dots">No internet connection detected. Retrying in <span
				class="check-internet-timer">10s</span></div>
		<div class="connection-back bg-primary">Back online</div>
	</div>
</div>