<div class="stats">
    <div class="pt-3 pb-2 text-center stats-bg">
        <p class="name-container mb-3 text-center text-white">
            Logged in as <span id="full-name"></span>
        </p>

        <h1 id="live-time" class="text-white mb-3">00:00:00</h1>

        <div class="mb-2 text-center">
            <button id="time-in-wfh" type="button" class="btn btn-white mr-2 tracker-buttons" data-is-onsite="0"
                disabled>Time
                In as
                WFH</button>
            <button id="time-in" type="button" class="btn btn-white tracker-buttons" data-is-onsite="1" disabled>Time
                In
                as
                Onsite</button>
            <button id="time-out" type="button" class="btn btn-white tracker-buttons" disabled>Time Out</button>
        </div>

        <span id="message" class="mb-3 text-white" style="font-size: 12px;"></span>

        <div class="connecting-error">No internet connection</div>
    </div>

    <div class="tasks-list">
        <li class="disabled" data-id="7" data-task="Work">Work</li>
        <li class="disabled" data-id="2" data-task="Lunch Break">Lunch Break</li>
        <li class="disabled" data-id="1" data-task="15min break">15 mins break</li>
    </div>

    <div class="require-action">
        <div class="alert alert-danger" role="alert">
            <h6 class="require-action-title"><i class="fa fa-exclamation-circle text-danger"></i> Requires Action</h6>
            <p class="mb-0">You have an urgent notification waiting.</p>
            <p class="mb-0">
                <a href="https://mydiversify.com" class="link-primary">Go to MyDiversify <i
                        class="fa fa-chevron-right small"></i></a>
            </p>
        </div>
    </div>
</div>

<div id="bottom-menu">
    <div id="sync">
        <i class="fa fa-refresh"></i>
        <small style="font-size: 12px !important;">Refresh data</small>
    </div>

    <div id="faq" class="text-center">
        <small>
            <a href="https://mydiversify.com/announcements/time-tracker-installer#faq">
                <i class="fa fa-question-circle"></i> FAQ
            </a>
        </small>
    </div>

    <div class="logout-button text-right">
        <small>
            <a id="logout"><i class="fa fa-power-off"></i> Logout</a>
        </small>
    </div>
</div>

<style>
    .container-fluid {
        padding: 0 !important;
    }
</style>